* {
    font-family: "Albert Sans", sans-serif;
}

body{
    background-color: #F1EBF4;
    color: #741ed7;
    text-align: center;
    margin-bottom: 50px;
    font-size: 25px;
    transition: background-color 0.5s ease; /* for colour transition */
}

h1{
    font-size: 70px;
    font-weight: 300;
    font-weight: bold;
    margin-top: 50px;
    border-radius: 20px;
    text-align: center;
}

.header-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

button{
    background-color: #741ed7;
    color: #f4eeee;
    background: linear-gradient(to bottom, #4D21B5, #BE588E);
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    margin: 4px;
    cursor: pointer;
    vertical-align: middle;
    transition: transform 0.2s ease;
}

button:hover {
    transform: scale(1.15);
}

img{
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
}

h2{
    font-size: 60px;
}


.preferences{
    text-align: center;
    padding-top: 60px;
}

.likert-scale{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 10px;
    gap: 20px;
}

.box{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding-bottom: 40px;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 0 10px #741ed7;
    border-radius:30px;
    font-size: 20px;
    margin-bottom:40px;
}

.login{
    align-items: center;
}

.box2{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 0 10px #741ed7;
    color: black;
    border-radius:30px;
    font-size: 40px;
    margin-bottom:40px;
    display: flex;
    align-items: center;
    
    display: flex;
    align-items: flex-start;
    gap: 100px;
}

.pfp{
    width: 300px;
    height: 300px;
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 40px;
    max-width: 100%;
    height: auto;

}
.text-container{
    display: flex;
    flex-direction: column; 
    gap: 10px; 
}
.box-trait{
    width: 220px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 0 10px #741ed7;
    color: black;
    border-radius:50px;
    font-size: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}
.person{
    text-align: center;
}

.trait{
    margin-left: 35px;
}
